body {
    background-image: url("https://images.unsplash.com/photo-1447933601403-0c6688de566e");
    background-size: cover;
    font-family: "Genos", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: darkred;
}

h1 {
    font-optical-sizing: auto;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    font-family: "Genos", serif;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
    width: 200px;
    margin: 5px 10px;
    border-radius: 5px;
    box-shadow: 4px 4px black;
}

button:focus {
    outline-color: #3e414f;
    outline-width: 2px;
}

#increment-btn {
    background: lightgoldenrodyellow;
    color: brown;
}

#save-btn {
    background: brown;
    color: blanchedalmond;
}

.counter {
    max-width: 80%;
    width: 60%;
    background: whitesmoke;
    border-radius: 12px;
    box-shadow: 4px 4px #818a8b;
}
